

.rosinstall
.rosinstall.bak

logs
build
devel
.catkin_tools

# submodules that are not altered and are fetched
# from dependencies_ssh.rosinstall
src/misc/
src/mapping/
src/exploration/pci_general/
src/exploration/adaptive_obb_ros/
src/sim/rotors_simulator/
src/sim/lidar_simulator/
src/sim/smb_simulator/
src/sim/subt_cave_sim/
